@import 'necolas/normalize.css';
@import 'kristoferjoseph/flexboxgrid';

:root {
	--outlines: #353535;
	--background: linear-gradient(#EEE, #EAEAF2);
	--gutters: 10px;
}


::placeholder {
  opacity: .4;
  transition: opacity 1s;

}

:focus::placeholder {
  opacity: .2;
}


@import './styles/paint.css';
@import './styles/layout.css';