@import 'necolas/normalize.css';
@import 'kristoferjoseph/flexboxgrid';

:root {
	--gutters: 10px;
	--outlines: #A2D2E6;
	--background: linear-gradient(#333639, #393531);
}


::placeholder {
  opacity: .4;
  transition: opacity 1s;

}

:focus::placeholder {
  opacity: .2;
}


@import './paint.css';
@import './layout.css';