@import 'necolas/normalize.css';
@import 'kristoferjoseph/flexboxgrid';

:root {
	--gutters: 10px;
	--outlines: #A2D2E6;
	--background: linear-gradient(#333639, #393531);
	--modal-backdrop: rgba(0, 0, 0, 0.3);
	--modal-background: linear-gradient(#232629, #292521);
	--modal-border: #677981;
	--primary-shadow: black;
}


::placeholder {
  opacity: .4;
  transition: opacity 1s;

}

:focus::placeholder {
  opacity: .2;
}


@import './paint.css';
@import './layout.css';