
label {
  display: inline-block;
  font-weight: normal;
  margin: 0.5em 0 0 0;
  font-size: 0.9rem;
}

input {
  margin: 0.5em;
  padding: 0.5em 1em;
  display: block;
  width: 100%;
  line-height: 1em;
}

input.expiry {
  display: inline-block;
  width: 4em;
}

button {
  margin: 0.5em;
  line-height: 1em;
  padding: 0.5em 1em;
}

.login button {
  width: 7em;
 }