
body {
  position: relative;
  font: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.logo {
  display: inline-block;
  height: 58px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo text {
  transform: translate(0, 48px);
  font-size: 48px;
}

.welcome {
  line-height: 34px;
}

.page {
  margin: 0 auto 0 auto;
  max-width: 1200px;
  box-sizing: border-box;
}


/* stripe stuff */
button.stripe-busy {
  pointer-events: none;
  cursor: not-allowed;
}
