
body {
  position: relative;
  font: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.logo {
  display: inline-block;
}

.logo text {
  transform: translate(0, 48px);
  font-size: 48px;
}

.welcome {
  line-height: 34px;
}

.page {
  margin: 0 auto 0 auto;
  max-width: 1200px;
  box-sizing: border-box;
}

.spacer {
  display: block;
  width: 100%;
  height: 1em;
}


/* stripe stuff */
button.stripe-busy {
  pointer-events: none;
  cursor: not-allowed;
}
