/*
  The Opinionated Theme StyleSheet

  Thou shalt not size thine box-models here.
  Thou shalt not be thinking of dom-trees here.
  Thou shalt not be positioning elements here.

  Thou shalt follow your heart: #000000 >= heart >= #FFFFFF
*/

body {
	color: var(--outlines);
	background: var(--background);
}

.logo text {
	stroke: var(--outlines);
	fill: none;

	font-weight: bold;
	paint-order:fill;
	text-rendering: optimizeLegibility;
	stroke-linejoin: miter;
	stroke-width: 0.5;

	stroke-dashoffset: 0;
	stroke-dasharray: 0 1200 0;
}

input, button {
	background: rgba(255, 255, 255, 0.03);
 	font-variant: all-small-caps;
	color: var(--outlines);
}

input {
	border: 1px solid var(--outlines);
}

button {
  border: none;
  box-shadow: 1px 1px 1px var(--primary-shadow);

}

.login input {
  font-variant: all-small-caps;
  background: none;
  border: 1px solid
}
