
.login form {
  width: 16em;
  padding: 10px;
}

span.num {
  display: inline-block;
  line-height: 64px;
  font-size: 64px;
  margin: 0.5em;
}


grid {

}

.item {
  margin: 10px;
  display: inline-block;
  padding: 10px;
}

app-off {
  display: inline-block;
  padding: 1rem;
  line-height: 1rem;
  text-align: center;
  margin: 0 auto 1rem;

  border: none;
  background: var(--button-secondary);
  opacity: 0.6;
}
