<div class="dashboard row">
	<div class="box">
		<form id="login">
			<input placeholder="email" name="email" type="email" />
			<input placeholder="password" name="password" type="password" />
			<button type="button" name="login">Login</button>
			<button type="button" name="register">Register</button>
		</form>
	</div>
	<div class="box" style="display: none">
	</div>
</div>
