
body {
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.page {
  max-width: 1200px;
  margin: 0 auto 0 auto;
  box-sizing: border-box;
  padding: 2rem;
  padding-bottom: 4em;
}

.page-title {
  padding-left: 2rem;
}
